* {
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.artistContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mainContentContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(85px) brightness(120%);
}

.mainContent {
    margin-left: 25px;
}

.artistMainImg {
    border-radius: 25px;
}

.mainTitle {
    color: white;
    font-style: italic;
    font-size: 97px;
}

.albumListing {
    width: 1500px;
    height: 800px;
    border: 3px solid gray;
    border-radius: 50px;
    backdrop-filter: blur(2vh) brightness(170%);
    position: absolute;
    margin-left: 700px;
    margin-top: 300px;
    overflow: scroll;
}

.subInfo {
    color: white;
    font-size: 29px;
    width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 17px;
    margin-bottom: 17px;
}

.artistBackImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}